{
    email {$DEVELOPER_EMAIL}
    storage file_system {
        root /data/caddy
    }
}

{$ROOT_DNS} {
    # Static files for non-Dagster paths
    @not_dagster {
        not path /dagster-webserver* /oauth2*
    }
    root @not_dagster /var/www/html
    file_server @not_dagster
    
    # Auth server routes (login and OAuth callback)
    reverse_proxy /dagster-webserver/login* {$DAGSTER_AUTHSERVER}
    reverse_proxy /oauth2/dagster-webserver* {$DAGSTER_AUTHSERVER}
    
    # Protected Dagster routes
    @protected {
        path /dagster-webserver*
        not path /dagster-webserver/login*
    }
    
    handle @protected {
        forward_auth {$DAGSTER_AUTHSERVER} {
                uri /oauth2/dagster-webserver/validate
                header_up Host {upstream_hostport}
                header_up X-Real-IP {remote_host}
                header_up X-Forwarded-For {remote_host}
                header_up X-Forwarded-Proto {scheme}
                header_up X-Forwarded-Host {host}
        }

        reverse_proxy @protected {$DAGSTER_WEBSERVER}
    }
}
