# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.16.1"
    hooks:
      - id: pyproject-fmt
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        language: system
        entry: ruff check
        types:
          - python
      - id: ruff-format
        name: ruff format
        language: system
        entry: ruff format
        types:
          - python
      - id: ty-check
        name: ty check
        language: system
        entry: ty check
        types:
          - python
